SERPAPI_KEY=your_serpapi_key_here
IMGBB_KEY=your_imgbb_key_here
RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
PRIVATE_KEY=0xYOUR_METAMASK_PRIVATE_KEY
CONTRACT_ADDRESS=0xD5d7203342B52CBF15E5B0404c15184A2a0eA120
